@font-face{
    font-family: 'UbuntuBold';    
    src: url('/fonts/ubuntu-bold-webfont.eot'); /* IE9 Compat Modes */
	src: url('/fonts/ubuntu-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/ubuntu-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
		url('/fonts/ubuntu-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('/fonts/ubuntu-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: bold;
}
@font-face{
    font-family: 'UbuntuLight';    
    src: url('/fonts/ubuntu-light-webfont.eot'); /* IE9 Compat Modes */
	src: url('/fonts/ubuntu-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/ubuntu-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
		url('/fonts/ubuntu-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('/fonts/ubuntu-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face{
    font-family: 'UbuntuMedium';    
    src: url('/fonts/ubuntu-medium-webfont.eot'); /* IE9 Compat Modes */
	src: url('/fonts/ubuntu-medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/ubuntu-medium-webfont.woff') format('woff'), /* Pretty Modern Browsers */
		url('/fonts/ubuntu-medium-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('/fonts/ubuntu-medium-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face{
    font-family: 'LatoBold';    
    src: url('/fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
	src: url('/fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		url('/fonts/Lato-Bold.woff') format('woff'), /* Pretty Modern Browsers */
		url('/fonts/Lato-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
		url('/fonts/Lato-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: bold;
    font-style: bold;
}

$main_highlight:#f5c21b;
$secondary_highlight:#006ca2;
