/*INNER PAGE*/
.arrow-container{
	width: 100px;
	height: 100px;
	margin: 0 auto;
	position: absolute;
	bottom: 25px;
	left: 0;
	right: 0;
}
.arrow-1{
	width: 100px;
	height: 100px;
	background: #00BCD4;
	opacity: 0.5;
	border-radius: 50%;
	position: absolute;
}
.arrow-2{
	width: 60px;
	height: 60px;
	background: #00BCD4;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	display: table;
	&::before{
		width: 52px;
		height: 52px;
		content: "";
		border: 2px solid #006064;
		border-radius: 50%;
		position: absolute;
		top: 2px;
		left: 2px;
	}
	i.fa{
		font-size: 30px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: #006064;
	}
}

/* Custom Animate.css */
.animated.hinge{
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}
@-webkit-keyframes zoomIn{
	0%{
		opacity: 0;
		-webkit-transform: scale3d(.4, .4, .4);
		transform: scale3d(.4, .4, .4);
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 0;
	}
}
@keyframes zoomIn{
	0%{
		opacity: 0;
		-webkit-transform: scale3d(.4, .4, .4);
		transform: scale3d(.4, .4, .4);
	}
	50%{
		opacity: 0.5;
	}
	100%{
		opacity: 0;
	}
}
.zoomIn{
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}
.inner_page{
	line-height: 195%;
	padding-bottom: 100px;
	.inner_page_title{
		font-family:'UbuntuLight';
		font-size:27px;
		color:#000000;
		padding-left:50px;
		padding-bottom:10px;
		display:block;
	}	
	.inner_btn_container{
		padding-bottom:0px;	
	}
	.inner_book_btn{
		font-family:'UbuntuMedium';
		font-size:25px;
		border-radius:20px;
		text-align:center;
		padding-top:15px;
		padding-bottom:15px;
		padding-right:30px;
		padding-left:30px;
		background-color:#ffffff;
		color:$main_highlight;
		border-color:$main_highlight;
		border-width:3px;
	}
	.inner_page_column{
		text-align:center;
		h2{
			font-family:'UbuntuBold';
			font-size:33px;
			color:#0096bb;
		}
		.icon{
			padding-top:70px;
			padding-bottom:15px;
		}
	}
	.inner_page_subtitle{
		font-family:'UbuntuLight';
		font-size:20px;
		color:#000000;
		padding-left:50px;
		display:block;
		padding-bottom:30px;
	}	
	.inner_bold{
		font-weight:800;
	}
	.inner_image{
		padding-left:50px;
	}
	table{
		width:80%;
		margin-left:50px !important;	
		th{
			text-align:center;
			font-family:'UbuntuLight';
			font-size:24px;
			color:#000000;;
			background-color:#ffffff;
		}
		tr:nth-child(even) {background-color: #e4e4e4}
		tr{
			background-color:#f4f4f4;
			text-align:center;
			td{
				font-family:'UbuntuLight';
				font-size:18px;
				font-weight:bold;
			}
			&:hover{
				background-color:$main_highlight;
			}
		}
	}
	ul{
		padding-left:0px;
		padding-bottom:20px;
		li{
			font-family:'UbuntuLight';
			font-size:18px;
			padding-right:100px;
			padding-left:50px;
			padding-bottom:0px;
			display:block;
		}
	}
	p{
		font-family:'UbuntuLight';
		font-size:18px;
		padding-right:100px;
		padding-left:50px;
		padding-bottom:20px;
		display:block;
	}	
}


.inner_page_tabs{
	line-height: 195%;
	padding-bottom: 100px;
	#tabs{
		.nav-pills{
			padding-left:9px !important;
			// background-color:$main_highlight;
			padding-bottom:0px !important;
			margin-bottom: 50px;
			li{
				margin-bottom:0px !important;
				background-color:$main_highlight;
				margin-top: 6px !important;
				padding-left:0px !important;
				padding-right: 0px !important; 
				padding-left: 0px !important; 
				 border-radius: 4px;
				a{
					font-family: 'UbuntuMedium' !important;
					font-size:15px !important;
					color: #000000 ;
					border-radius: 4px;
					&{
				    	color:#ffffff ;

				  	}
				  	&:hover{
			    		color:#ffffff ;
			    		background-color:$secondary_highlight !important;
			    		border-radius: 4px;
					}
				}
				&:hover{
					background-color:$secondary_highlight !important;
					color: #ffffff !important;
					border-radius: 4px;
				}
				.active{
					color:#ffffff !important;
				    background-color:$secondary_highlight !important;
				    border-radius: 4px;
				}
			}
		}
		.nav{
			// background-color:$main_highlight !important;
			padding-bottom:0px !important;
			.active{
				color:#ffffff !important;
			    background-color:$secondary_highlight !important;
			    border-radius: 4px;
			}
		}
	}			
	.inner_page_title{
		font-family:'UbuntuLight';
		font-size:27px;
		color:#000000;
		padding-left:50px;
		padding-bottom:10px;
		display:block;
	}	
	.inner_btn_container{
		padding-bottom:0px;	
	}
	.inner_book_btn{
		font-family:'UbuntuMedium';
		font-size:25px;
		border-radius:20px;
		text-align:center;
		padding-top:15px;
		padding-bottom:15px;
		padding-right:30px;
		padding-left:30px;
		background-color:#ffffff;
		color:$main_highlight;
		border-color:$main_highlight;
		border-width:3px;
	}
	.inner_page_column{
		text-align:center;
		h2{
			font-family:'UbuntuBold';
			font-size:33px;
			color:#0096bb;
		}
		.icon{
			padding-top:70px;
			padding-bottom:15px;
		}
	}
	.inner_page_subtitle{
		font-family:'UbuntuLight';
		font-size:20px;
		color:#000000;
		padding-left:50px;
		display:block;
		padding-bottom:30px;
	}	
	.inner_bold{
		font-weight:800;
	}
	.inner_image{
		padding-left:50px;
	}
	table{
		width:80%;
		margin-left:50px !important;	
		th{
			text-align:center;
			font-family:'UbuntuLight';
			font-size:28px;
			color:#000000;;
			background-color:#ffffff;
		}
		tr{
			background-color:#f4f4f4;
			text-align:center;
			td{
				font-family:'UbuntuLight';
				font-size:18px;
				font-weight:bold;
			}
			&:hover{
				background-color:$main_highlight;
			}
		}
	}
	ul{
		padding-left:0px;
		padding-bottom:20px;
		li{
			font-family:'UbuntuLight';
			font-size:18px;
			padding-right:100px;
			padding-left:50px;
			padding-bottom:0px;
			display:block;
		}
	}
	p{
		font-family:'UbuntuLight';
		font-size:18px;
		padding-right:100px;
		padding-left:50px;
		padding-bottom:20px;
		display:block;
	}	
}


/*MEDIA QUERYS*/
@media(max-width:1146px){
	.inner_page{
		p{		
			padding-right:20px;
			padding-left:50px;
		}	
	}
}
@media(max-width:995px){
	.inner_page{
		.inner_btn_container{
			padding-bottom:100px;	
		}
	}
}
@media(max-width:904px){
	.inner_page{
		table{
			width:95%;
			margin-left:30px !important;
		}
		.inner_page_title{
			padding-left:30px;
			padding-right:10px;
		}
		.inner_page_subtitle{
			padding-left:30px;
		}	
		.inner_image{
			padding-left:30px;
		}
		ul{
			li{
				padding-right:10px;
				padding-left:30px;
			}
		}
		p{
			padding-right:10px;
			padding-left:30px;
		}	
	}
}
@media(max-width:768px){
	.inner_page{
		line-height: 195%;
		padding-bottom: 100px;
		table{
			width:87%;
			margin-left:10px !important;
			tr{
				td{
					font-size:16px;
				}
			}
			th{
				text-align:center;
				font-family:'UbuntuLight';
				font-size:19px;
				color:#000000;
				background-color:#ffffff;
			}
		}		
	}
}
@media(max-width:400px){
	.inner_page{
		line-height: 195%;
		padding-bottom: 100px;
		.inner_page_title{
			font-family:'UbuntuLight';
			font-size:33px;
			color:#000000;
			padding-left:50px;
			padding-bottom:10px;
			display:block;
		}	
		.inner_page_subtitle{
			font-family:'UbuntuLight';
			font-size:25px;
			color:#000000;;
			padding-left:50px;
			display:block;
			padding-bottom:30px;
		}
		table{
			width:100%;
			margin-left:0px !important;
			tr{
				td{
					font-size:14px;
				}
			}
			th{
				text-align:center;
				font-family:'UbuntuLight';
				font-size:16px;
				color:#000000;
				background-color:#ffffff;
			}
		}		
	}
}

@media(max-width:350px){
	.inner_page{
		line-height: 195%;
		padding-bottom: 100px;
		table{
			width:100%;
			margin-left:0px !important;
			tr{
				td{
					font-size:12px;
				}
			}
			th{
				text-align:center;
				font-family:'UbuntuLight';
				font-size:14px;
				color:#000000;
				background-color:#ffffff;
			}
		}		
	}
}