/*MEDIA PAGE*/
$main_highlight:#f5c21b;
$secondary_highlight:#006ca2;
.gallery_menu{
	// padding-left:35px;
	.gallery-btn{
		background-color: $main_highlight !important;
		background-image: none !important;
		font-family: 'UbuntuMedium';
    	font-size: 18px;
    	text-shadow: none !important;
    	margin-right: 2px;

	}
}
#gallery{
	// padding-left:30px;
	a{
		img{
			padding:5px;
		}
	}
}
.media_subtitle{
	color:$main_highlight;
	font-size:23px !important;
	font-family:'UbuntuBold';
	padding-left: 0px !important;
	font-family:'UbuntuBold';
	font-weight: 800;

}
.media_title{
	color:$main_highlight;
	font-size:43px !important;
	font-family:'UbuntuBold';
	padding-left: 0px !important;
	font-family:'UbuntuBold';
	padding-top:50px !important;

}
#video-gallery{
	a{
		img{
			padding-bottom:5px;
			padding-right:5px;
		}
	}
}
.instagramFeed{
	a{
		img{
			padding-bottom:5px;
			padding-right:5px;
		}
	}
}
#responsive-images{
	a{
		img{
			// width:140px;
			padding-bottom:5px;
		}
	}
}
.mrb50{
	margin-bottom:50px !important;
}

/*MEDIA QUERYS*/
@media(max-width:470px){
	#video-gallery{
		a{
			img{
				width:140px;
			}
		}
	}
	.instagramFeed{
		a{
			img{
				width:140px;
				padding-bottom:5px;
				padding-right:5px;
			}
		}
	}
	#responsive-images{
		a{
			img{
				width:140px;
			}
		}
	}
}
@media(max-width:400px){
	video-gallery{
		a{
			img{
				width:100px;
			}
		}
	}
	.instagramFeed{
		a{
			img{
				width:100px;
				padding-bottom:5px;
				padding-right:5px;
			}
		}
	}
	#responsive-images{
		a{
			img{
				width:100px;
			}
		}
	}
}