/*PRINCIPAL MENU*/
$main_highlight:#f5c21b;
$secondary_highlight:#006ca2;
.navbar-collapse {
	max-height: 800px !important;
	overflow-x: auto;
}

header{
	.navbar-header{
		.navbar-toggle{
			margin-top:45px;
		}
		a{
			img{
				margin-top:10px;
			}
		}
	}
	.mainmenu{
		margin-top:20px;
		.active-link{
			a{
				color:#006ca2 !important;
				background-image:none !important;
				box-shadow:none !important;
			}
		}
		ul{
			li{
				.dropdown-submenu:hover .dropdown-menu{
					display:block;
					background-color:transparent !important;
				}
				&:hover{
					background-color:transparent !important;
				}
			}
			ul{
				display:none;
				z-index:20;
			}
		}
	}
	.dropdown-menu{
		background: url('/images/pcpc_submenu_background.png') right no-repeat;
		background-color:#ffffff;
		.row-fluid{
			.separator{
				width:10px !important;
				display:block;		
			}
			.menuLists{
				width: 50%;
				padding-top: 20px;
				display:inline-block;
				ul{
					list-style: none;
					line-height:200%;
					li{
						a{
							color:#000000;
							font-family:"UbuntuLight";
							font-size:17px;
							padding-bottom:20px;
						}
					}
				}
			}
		}
	}
}
.dropdown-menu{
	width:100%;
	border:0px !important;
	border-radius: 0px !important;
	box-shadow: 0px !important;
}
.dropdown-submenu>a:after{
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:0px;
}
.submenu{
	width:35%;
	display:inline;
	.title{
		color:$main_highlight;
		font-size:43px;
		font-family:'UbuntuBold';
		padding-left: 70px;
	}
	.description{
		color:#797979;
		font-family:"UbuntuRegular";
		font-size:17px;
		padding-left: 70px;
		line-height:200%;
	}
	.separator{
		width:10px !important;		
	}
}
.newpcpc_menu{
	padding-top:25px;
	a{
		font-family: 'UbuntuBold';
		font-size: 15px;
		font-weight:800;
		color:#000000 !important;
		padding-left:0px !important;
		padding-right:0px !important;
		&:hover{
			font-family: 'UbuntuBold';
			font-size: 15px;
			font-weight:800;
			color:#006ca2 !important;
			background-color: transparent !important;
			padding-left:0px !important;
			padding-right:0px !important;	
		}
	}
}
.navbar{
	margin-bottom:0px !important;
	margin-top: 25px;
}
.navbar-brand{
	height:110px !important;
}

/*MEDIA QUERYS*/
@media(max-width:1146px){
	.newpcpc_menu{
		padding-left:0px;
		a{
			font-size: 13px;
			&:hover{
				font-size: 13px;
			}
		}
	}
}
@media(max-width:1065px){
	.newpcpc_menu{
		padding-top:25px;	
		a{
			font-family: 'UbuntuBold';
			font-size: 14px;
			font-weight:800;
			color:#000000 !important;
			padding-left:0px !important;
			&:hover{
				font-family: 'UbuntuBold';
				font-size: 14px;
				font-weight:800;
				color:#006ca2 !important;
				background-color: transparent !important;
				padding:0px !important;	
			}
		}		
	}
	header{
		.dropdown-menu{
			background: url('/images/pcpc_submenu_background_small.png') right no-repeat;
			background-color:#ffffff;
		}
	}
}
@media(max-width:995px){
	.navbar-collapse{
	    padding-right: 0px !important;
		padding-left: 0px !important; 
	}
}
@media(max-width:904px){
	.submenu{
		.title{
			font-size:31px;
		}
	}
	.navbar-collapse{ 
		padding-right:0px !important;
	}
	.navbar-nav{
		li{
			a{
				font-size:14px !important;
				padding-left:8px;
			}
		}
	}
	.logo{
		width:75%;
	}
}
@media(max-width:835px){
	.newpcpc_menu{
		margin:0px;
		a{
			font-size: 11px;
			&:hover{
				font-size: 11px;
			}
		}		
	}
}
@media(max-width:800px){
	.navbar-collapse{
	    padding-right: 0px !important;
		padding-left: 0px !important; 
	}
}
@media(max-width:767px){
	.nav{
		li{
	    	a{	
	    		padding: 10px 15px !important;
	    	}
	    }
	}
	.navbar-collapse{
		max-height: auto !important;
		overflow-x: auto;
	}		
	.open{
		display:block !important;
		a:hover{
			background-color:#f5c21b !important; 
			border-radius: 7px;
			border-color:transparent !important;
		}
	}
	.nav>li>a:focus, .nav>li>a:hover{
		padding: 10px 15px !important;
	    text-decoration: none;
	    background-color: #006ca2 !important; 
	    border-radius: 7px;
	}
	header{
		.mainmenu{
			margin-top:20px;
			ul{
				li:hover{
					background-color: #f5c21b !important;
				}
				ul{
					list-style:none;
					background-color:#ffffff !important;
					color: #000000 !important;
					li{
						a{
							color:#000000 !important;
						}
						a:hover{
							color:#000000 !important;
							padding: 5px 15px !important;
						}
					}
				}
			}
			.active-link{
				a{
					color:#ffffff !important;
					background-color:#f5c21b !important; 
					background-image:none !important;
					box-shadow:none !important;
				}
			}
		}
	}
	.newpcpc_menu{
		padding-top:0px !important;
		background-color:#006ca2;
		color:#ffffff;
		margin:0px;
		border-radius: 7px;
		text-align:left !important;
		vertical-align:middle;
		a{
			font-size: 15px;
			color:#fff !important;
			text-align:left !important;
			border-radius: 7px;
		}
		&:hover{
			background-color:#f5c21b;
			color:#ffffff;
			margin:0px;
			border-radius: 7px;
			text-align:left !important;
			a:hover{
				font-size: 15px;
				background-color:#f5c21b !important;
				border-radius: 7px;
				.dropdown-menu{
					display:block !important;
				}
			}
		}
	}
	.dropdown-submenu>a:after{
		display:block;
		content:" ";
		float:right;
		width:0;
		height:0;
		border-color:transparent;
		border-style:solid;
		border-width:5px 0 5px 5px;
		border-left-color:#cccccc;
		margin-top:5px;
		margin-right:30px;
	}
}
@media(max-width:400px){
	.navbar{
		margin-bottom:0px !important;
	}
	.navbar-brand{
		height:110px !important;
		img{
			width:85%;
		}
	}
}
@media(max-width:360px){
	.navbar-nav{
		padding-left:0px;
	}
	.nav{
		li{
	    	a{	
	    		padding: 10px 15px !important;
	    	}
	    }
	}
}