/* GENERAL */
.list-inline{
	margin-left:20px !important;
}
#animation-splash{
	width:100%;
	margin-top:10px;
}
#splash{
	position: absolute;
	display: none;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	background: #ffffff;
	z-index:5000;
	font-size:40px;
}
svg{
	width:130px;
	margin-top:10px;
}
#small_x5F_waves_x5F_original,#wave_x5F_complete_1_{
	visibility: hidden;
}
#tournament-menu{
	li{
		.active{
			text-decoration:underlined;
		}
	}
}
.nomargins{
	margin-left:0px !important;
	margin-right:0px !important;
}
.tournament_buttons{
	width:100%;
	background-color:$main_highlight;
	color:#000000;
	font-family:'UbuntuMedium';
	font-size:18px;
	text-align:center;
	padding-top: 0px !important;
	.row{
		width:60%;
		padding-bottom: 5px;
		ul{
			padding-top:10px;
			li{
				display:inline;
				list-style: none;
				a{
					color:#000000;
				}
			}
		}
	}
}
.no_padding{
	padding-top:0px !important;
	padding-right:0px !important;
	padding-left:0px !important;
}
.full-width{
	width:100% !important;
}
.the_package{
	line-height: 195%;
	padding-bottom: 100px;
	.the_package_title{
		font-family:'UbuntuBold';
		font-size:33px;
		color:$main_highlight;
		padding-left:50px;
		padding-bottom:10px;
		display:block;
	}	
	.the_package_subtitle{
		font-family:'UbuntuLight';
		font-size:25px;
		color:#000000;;
		padding-left:50px;
		display:block;
		padding-bottom:30px;
	}	
	.the_package_price{
		font-family:'UbuntuLight';
		font-size:98px;
		color:#0096bb;
		display:block;
		padding-bottom:60px;
		padding-left:50px;
	}	
	.the_package_description{
		font-family:'UbuntuLight';
		font-size:18px;		
		padding-right:100px;
		padding-left:50px;
		padding-bottom:50px;
		display:block;	
	}	
	.package_items{
		display:inline;		
		.package_item{
			padding-bottom:50px;		
			.package_icon{
				padding-left:50px;
				padding-right:20px;
				vertical-align:top;						
			}
			.package_item_description{
				font-family:'UbuntuLight';
				font-weight:bold;
				font-size:20px;
				display: inline;				
			}
		}
	}
}
.sponsors{
	width:100%;
	.sponsor_group{
		padding-left:50px;
		padding-top:30px;
		padding-bottom:30px;
		border-bottom-style: solid;
		border-width: 1px;
		border-color: $main_highlight;
		.sponsor_category{
			font-size:30px;
			font-family:'UbuntuLight';
			color:#000000;
			padding-bottom:20px;
		}
		.sponsor_logo{
			padding-right:30px !important;
			display:inline;			
		}	
	}
}
.contact{
	padding-left:50px;
	font-size:28px;
	font-family:'UbuntuLight';
	color:#000000;
	.contact_data{
		color:#333333;
		display:block;
		font-size:24px;
		font-family:'UbuntuMedium';
	}
}
#slide-1501-layer-5{
	z-index:100;
}
.center{
	text-align: center;
}
.form-horizontal{	
	margin-right:0px !important;
}
.booking-form{
	width:50%;
	display:inline;
	text-align:center;
}
.booking-calendar{
	width:50%;
	display:inline-block;
	text-align:center;
}
.booknow-bold{
	color:#ffffff;
	font-size:30px;
	font-family:'UbuntuBold';
	padding-bottom:30px !important;
}
.bestprice{
	color:#ffffff;
	font-size:26px;
	font-family:'UbuntuLight';
}
.form-group{
	width:100% !important;
	padding-bottom: 30px;
}
.booking_submit_button{
	background-image: none !important;
	background-color: $main_highlight !important;
	border:0;
	font-family: 'UbuntuMedium';
	font-size:24px;
	border-radius:0px;
	text-align:center;
	padding:15px 40px 15px 50px;
	color:#ffffff;
}
.btn-primary{
    background-image: none;
    background-image: none;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#428bca),to(#2d6ca2));
    background-image: none;
    background-repeat: repeat-x;
    .btn .btn-lg{
		background-color:$main_highlight !important;
		background-image: none !important;
	}
}
.home_central_part{
	display:inline-block;
	background-color:#ffffff;
	padding-left:0px;
	height:140px;
	.home_checkin_container{
		display: inline !important;
		padding-left:30px !important;
		padding-top:15px !important;
		padding-bottom:15px !important;
		vertical-align:middle !important;
		.live_events{
			line-height: 1.8;
			width:250px;
			color: #000000;
			margin-top:15px !important;
			display:inline-block;
			font-size: 14px !important;
    		padding-right: 30px !important;
    		.bold{
				font-weight:800;
				font-size: 14px !important;
			}
		}
		
		.input-group.date .input-group-addon{
		    background-color: transparent !important;
		    border: none !important;
		    color: #469ac6 !important;
		    padding: 2px !important;
		    border-radius: 15px !important;
		}
		.form-control:first-child{
			border-radius: 5px;
			height:20px;
		}
		.home_checkin{
			width:130px;
			font-family: 'UbuntuMedium';
			font-size:16px;
			font-weight:800;
			color:#000000;
			padding-bottom:10px;
			text-align:center;
			display:inline-block;
			margin-top: 20px !important;			
			.input-group-addon {
			    padding-left: 2px;
			    padding-top:1px;
			    font-size: 13px;			    
			    font-weight: 200;
			    line-height: 1;
			    color: #469ac6;
			    text-align: center;
			    background-color: transparent;
			    border: 0; 
			    border-radius: 4px;
			}
			.form-control:first-child{
				border-radius: 5px;
				height:20px;
				font-size:12px !important;
				font-weight:800 !important;
			}
			.home_checkin_initial{
				padding-top:25px !important;
				display:block;
				font-family: 'UbuntuLight' !important;
				font-weight:200;
				font-size:66px;
				color:$main_highlight;
				padding-bottom:25px;
			}
			.home_checkin_initial_date{
				font-family: 'LatoBold';
				font-size:7px !important;
				color:#848484;
				text-align:center;
				padding-left:22px;
			}
		}
		.home_checkout{
			width:160px;
			font-family: 'UbuntuMedium';
			font-size:16px;
			font-weight:800;
			color:#000000;
			padding-bottom:10px;
			text-align:center;
			display:inline-block;
			margin-left: 0;
			padding-right:20px;
			.input-group.date .input-group-addon{
			    background-color: transparent !important;
			    border: none !important;
			    color: #469ac6 !important;
			    padding: 2px !important;
			    border-radius: 15px !important;
			    font-size: 13px;
			}
			.form-control:first-child{
				font-family: 'UbuntuMedium';
				border-radius: 5px;
				height:20px;
				font-size:12px !important;
				font-weight:800 !important;
			}
			.home_checkout_initial{
				padding-top:25px !important;
				display:block;
				font-family: 'UbuntuLight';
				font-weight:200;
				font-size:66px;
				color:$main_highlight;
				padding-bottom:25px;			
			}
			.home_checkout_initial_date{
				font-family: 'LatoBold';
				font-size:7px !important;
				color:#848484;
				text-align:center;
				padding-left:22px;
				.input-group-addon{
				    background-color: transparent !important;
				    border: none !important;
				    color: #469ac6 !important;
				    padding: 2px !important;
				    border-radius: 15px !important;
				    font-size: 13px;
				}
			}
		}
	}
	.home_availability_button{
		padding-top:10px;
		text-align:center;
		font-family: 'UbuntuMedium';
		font-size:17px;
		display:block;	
		padding-bottom: 45px;
		button{
			margin: auto;
			background-color:#006ca2 !important;
			padding:17px;
		}
	}
	.home_event_button_block{
		background-color:$main_highlight !important;
		float:right;
		height:100%;
		width:100;
		display: inline;
    	float: right;
		padding-top:50px;
		display:inline;
		.live_events_button{
			padding-right:30px !important;
			// padding-left:30px !important;
		}
		.home_banner_right{
			text-align:center;
		}	
	}
	.home_event_button_block{
		background-color:$main_highlight !important;
		float:right;
		height:100%;
		width:100;
		display: inline;
		padding-top:60px;
		display:inline;
		padding-left:0px !important;
		padding-right:0px !important;
		.live_events_button{
			// padding-right:30px !important;
			// padding-left:30px !important;
		}
		.home_banner_right{
			text-align:center;
		}
		
	}
	.home_right_part{
		background-color:$main_highlight !important;
		float:right;
		height:100%;
		width:100;
		display: inline;
    	float: right;
		padding-top:30px;
		display:inline;
		padding-left:30px !important;
		padding-right:30px !important;

		.home_banner_right{
			text-align:center;
		}
		.home_availability{
			text-align:center;
			font-family: 'UbuntuLight';
			font-size:20px;
			font-weight:600;
			color:#000000;
			padding-left: 30px;
			padding-right:30px;
		}
		
	}
}	
.form_select{
	font-family: 'LatoBold';
	font-size:17px !important;
	background-color:#006ca2 !important;
	color:#ffffff !important;
	width:75px !important;	
}
.inline-block{
	display:inline-block;
}
//Animation css
#small_x5F_waves_x5F_original,#wave_x5F_complete_1_{
	visibility: hidden;
}
#closemobile{
	float:right;
    display:inline-block;
    padding:6px 10px;
    background:#006ca2;
    margin-right:0px;
    border-radius: 90px;
    cursor:pointer;
    visibility: hidden;
}
#close{
    float:right;
    display:inline-block;
    padding:6px 10px;
    background:#006ca2;
    margin-right:10px;
    border-radius: 90px;
    cursor:pointer;
}
#closeglobal{
    float:right;
    display:inline-block;
    padding:6px 10px;
    background:#006ca2;
    margin-right:10px;
    border-radius: 90px;
    cursor:pointer;
    visibility: hidden;
}
.banner_live{
	line-height:1;
	// background-image:url('/images/pcpc_banner_live.jpg');
	// height:180px;
	position:fixed;
    bottom:0;
    left: 0;
    width: 100%;
    // display:flex;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    z-index:5;
}
.banner{
	line-height:1;
	background-color:#9dc1d6;
	background-image:url('/images/pcpc_banner_live.jpg');
	height:154px;
	position:fixed;
    bottom:0;
    left: 0;
    width: 100%;
    display:flex;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    z-index:5;
	.left_part{
		width:30%;
		height:100%;
		text-align:left;
		padding-top:50px;
		padding-left:45px;
		.booknow{
			font-family: 'UbuntuBold';
			font-size:32px;
			font-weight:800;
			color:#fff;
			padding-bottom:3px;
		}
		.reserve{
			font-family: 'UbuntuLight';
			font-size:28px;
			color:#fff;
			top:90px;			
		}
	}
	.input-group.date .input-group-addon {
	    background-color: transparent !important;
	    border: none !important;
	    color: #469ac6 !important;
	    padding: 2px !important;
	    border-radius: 15px !important;
	}
	.form-control:first-child{
		border-radius: 5px;
		height:20px;
	}
	.calendar_bookings_format{
		color: #006ca2 !important;
		border:0px !important;
		border-radius:2px !important;
	}
	.central_part{
		width:50%;
		height:100%;
		padding-top:30px;
		padding-left:10px;
		.divider{
			padding-left:15px;
		}
		.checkin_container{
			display: flex;
			.checkin{
				width:150px;
				font-family: 'UbuntuMedium';
				font-size:16px;
				font-weight:800;
				color:#006ca2;
				padding-bottom:10px;
				text-align:center;
				.checkin_initial{
					display:block;
					font-family: 'UbuntuLight';
					font-weight:200;
					font-size:66px;
					color:#fff;
				}
				.checkin_initial_date{
					font-family: 'LatoBold';
					font-size:7px !important;
					color:#848484;
					text-align:center;
					padding-left:22px;
				}
			}
			.checkout{
				width:150px;
				font-family: 'UbuntuMedium';
				font-size:16px;
				font-weight:800;
				color:#006ca2;
				padding-bottom:10px;
				text-align:center;
				display:inline;
				margin-left: 0;
				.checkout_initial{
					display:block;
					font-family: 'UbuntuLight';
					font-weight:200;
					font-size:66px;
					color:#fff;
				}
				.checkout_initial_date{
					font-family: 'LatoBold';
					font-size:7px !important;
					color:#848484;
					text-align:center;
					padding-left:22px;
				}
			}
		}
	}
	.right_part{
		float:right;
		height:100%;
		width:25%;
		display: block;
    	text-align: center;
    	float: right;
		padding-top:30px;
		.banner_right{
			text-align:center;			
		}
		.availability{
			text-align:center;
			font-family: 'UbuntuLight';
			font-size:20px;
			font-weight:600;
			color:#000000;
			padding-left: 30px;
		}
		.availability_button{
			padding-top:10px;
			text-align:center;
			font-family: 'UbuntuMedium';
			font-size:17px;
			display:block;	
			button{
				background-color:#006ca2 !important;
				padding:17px;
			}
		}
	}
}
.page_title{
	width:100%;
	height:110px;
	text-align:center;
	padding-top:30px;
	font-size:33px;
	weight:800;
	font-family: 'UbuntuBold';
	color:#000000;
	background-color:#f0f8fc;
}
.page_title_border{
	width:100%;
	height:8px;
	background-color:$main_highlight;
}
.about_title{
	font-family:'UbuntuLight' !important;
	font-size:25px !important;
	color:#000000;
	display:block;
	padding-bottom:30px;
	padding-left:50px;
	font-weight:bold;
}	
.about_description{
	line-height: 200%;
	padding-right:50px !important;
	padding-left:50px;
	display:block;	
}
.page_content{
	padding-top:50px;
	padding-bottom:50px;
	font-family: 'UbuntuLight';
	font-size: 17px;
	line-height:150%;
	strong{
		font-family: 'UbuntuBold';
	}
	.divider{
		height: 550px;
		vertical-align: top !important;
	}
	.booking_container{
		display: flex;
		.input-group.date .input-group-addon {
		    background-color: transparent !important;
		    border: none !important;
		    color: #469ac6 !important;
		    padding: 2px !important;
		    border-radius: 15px !important;
		}
		.form-control:first-child{
			border-radius: 5px;
			height:20px;
		}
		.checkin_booking{
			width:160px;
			font-family: 'UbuntuMedium';
			font-size:16px;
			font-weight:800;
			color:#006ca2;
			padding-bottom:40px;
			text-align:center;
			.checkin_initial_booking{
				padding-top:15px;
				display:block;
				font-family: 'UbuntuLight';
				font-weight:200;
				font-size:66px;
				color:$main_highlight;
				padding-bottom:20px;
			}
			.checkin_initial_date_booking{
				font-family: 'LatoBold';
				font-size:7px !important;
				color:#848484;
				text-align:center;
				padding-left:22px;
			}
		}
		.checkout_booking{
			width:160px;
			font-family: 'UbuntuMedium';
			font-size:16px;
			font-weight:800;
			color:#006ca2;
			padding-bottom:10px;
			text-align:center;
			display:inline;
			margin-left: 0;
			.checkout_initial_booking{
				padding-top:15px;
				display:block;
				font-family: 'UbuntuLight';
				font-weight:200;
				font-size:66px;
				color:$main_highlight;
				padding-bottom:20px;
			}
			.checkout_initial_date_booking{
				font-family: 'LatoBold';
				font-size:7px !important;
				color:#848484;
				text-align:center;
				padding-left:22px;
			}				
		}
	}
	.book_now{
		line-height: 195%;
		padding-bottom: 0px;
		.booknow_title{
			font-family:'UbuntuBold' !important;
			font-size:33px !important;
			color:$main_highlight !important;
			padding-left:50px;
			display:block;
		}	
		.booknow_subtitle{
			font-family:'UbuntuLight' !important;
			font-size:25px !important;
			color:#000000;
			display:block;
			padding-bottom:30px;
			padding-left:50px;
		}	
		.booknow_description{
			line-height: 100%;
			padding-right:100px !important;
			padding-left:50px;
			display:block;		
		}	
		.control-label{
			padding-top:0px !important;
		}
		.booking_form{
			width:100%;
			height:500px;
			padding-top:50px;
			margin-bottom:50px;
			.countries{
				width: 100%;
				margin: 15p;
				padding: 7px;
				color: lightgray;
				font-size: 14px;
				border-radius:3px;
				border-color:lightgray;
			}
			.booking_data{
				width:50% !important;
				display:inline;			
				.form_size{
					width:50% !important;
					overflow:hidden;
				}
				.booking_dates{
					width:50%;
					display:inline;
				}
			}			
		}
	}
}

.page_content_nopadding{
	padding-bottom:50px;
	font-family: 'UbuntuLight';
	font-size: 17px;
	line-height:150%;
	strong{
		font-family: 'UbuntuBold';
	}
}
.slider_title{
	overflow:hidden;
	font-family: 'UbuntuBold';
	font-size:61px;
	color:#ffffff;
	white-space: nowrap;	
}
.slider_subtitle{
	font-size:31px;
	color:#ffffff;
	white-space: nowrap;
	font-family: 'UbuntuLight';
	font-size: 30px;
}
.box1{		
	text-align:center;	
	overflow:hidden;
}
.box2{
	text-align:center;	
	overflow:hidden;
}
.box3{
	text-align:center;	
	overflow:hidden;
}
.container-venue{
	margin-left:0% !important;
	width:100%;
	padding-right:0px !important;
	padding-left:0px !important;
}
.container-fluid{
	margin-left:0% !important;
	padding-top: 136px !important;
	width:100%;
	padding-right:0px !important;
	padding-left:0px !important;
}
.news_header{
	background-color: #f5c21b;
	color:black;
	height: 25px;
	padding-top: 3px !important;
	width:100%;
	position:fixed;
	top: 0px;
	z-index:3;	
	.news{
		font-family: 'UbuntuLight';
		font-size: 13px;
	}
	.news_title{
		font-family: 'UbuntuBold';
		font-size: 13px;
		padding-left: 3%;
	}
	.language{
		font-family: 'UbuntuBold';
		font-size: 13px !important;		
		font-weight: bold;
		float:right;
		display:inline;
		list-style: none;
		padding-right: 20px;		
		li{
			padding-left: 10px;
			display:inline;
			a{
				color: #000 !important;				
				padding-top: 0px !important;
				&:hover {
					background-color:$main_highlight !important;
					padding-top: 0px !important;
					color:white !important;					
				}
			}			
		}
	}
}
.countdown_container{
	height: 188px;
	width:100%;
	background-color:#f8fdff;
	banner_live_coverage{
		
	}
	.countdown_title{
		display: inline-block;
		float:left;
		padding-left: 5%;
		padding-top: 70px;
		width:55%;
	}
	.countdown_light{
		font-family: 'UbuntuLight';
		font-size: 25px;
		vertical-align: middle;
		padding-left: 5px;
		padding-right: 15px;
		color:#9b9b9b;
	}
	.countdown_bold{
		font-family: 'UbuntuBold';
		font-weight: bold;
		font-size: 29px;
		vertical-align: middle;
		padding-left: 5px;
		padding-right: 10px;
	}
	.countdown_counter{
		display: inline-block;
		float:left;
		padding-top: 50px;
		padding-left: 10px;
		font-family: 'UbuntuLight';
		font-size:15px;
		ul {
			margin-top:-25px;
			margin-left:10px;
			list-style:none;
			padding:0px;		  
			li {
				display:inline-block;
				text-align:center;
				padding-right:30px;
				span {
					font-size: 42px;
					font-weight:bold;
					color:$main_highlight;
					font-size: 60px;
					font-weight:100;
				}
			}
		}
	}
}

.footer_container{
	width: 100%;
	height:430px;
	background-color: #f0f8fc;
	color:#000000;
	border-color: #e3e3e3;
	.footer_box_right{
		height: 288px;
		border-bottom: solid;
		border-left: solid;
		border-color: #e3e3e3;
		display: inline-block;
		border-width: 1px;
		width: 50%;
		float:left;
		padding-left: 50px;
		padding-top: 50px;
		line-height: 135%;
	}
	.footer_box_left{
		height: 288px;
		border-bottom: solid;
		border-color: #e3e3e3;
		display: inline-block;
		border-width: 1px;
		width: 50%;
		float:left;
		padding-left: 50px;
		padding-top: 50px;
		line-height: 170%;
	}
	.footer_bold{
		font-family: 'UbuntuBold';
		font-weight: bold;
		font-size: 14px;
	}
	.footer_bold_highlight{
		font-family: 'UbuntuBold';
		font-weight: bold;
		font-size: 14px;
		color:$secondary_highlight;		
	}
	.footer_medium{
		font-family: 'UbuntuMedium';
		font-weight: 600;
		font-size: 12px;
		display: block;
		color:#8e8e8e;		
	}
	.footer_medium_highlight{
		font-family: 'UbuntuMedium';
		font-weight: 600;
		font-size: 12px;
		display: block;
		color:$secondary_highlight;
		padding-top: 30px;		
	}
	.contact_us{
		display:inline-block;		
	}
	.social_icons{		
		display:inline-block;
	}
}

/*MEDIA QUERYS*/
@media(max-width:1305px){
	.countdown_container{
		height: 188px;
		width:100%;
		.countdown_light{
			font-family: 'UbuntuLight';
			font-size: 21px;
			vertical-align: middle;
			padding-left: 5px;
			padding-right: 15px;
			color:#9b9b9b;
		}
		.countdown_bold{
			font-family: 'UbuntuBold';
			font-weight: bold;
			font-size: 24px;
			vertical-align: middle;
			padding-left: 5px;
			padding-right: 10px;
		}		
	}
}
@media(max-width:1200px){
	.container-fluid {
    	padding-top: 0px;
	}
}
@media(max-width:1146px){
	.countdown_container{
		height: 188px;
		width:100%;
		.countdown_light{
			font-family: 'UbuntuLight';
			font-size: 19px;
			vertical-align: middle;
			padding-left: 5px;
			padding-right: 15px;
			color:#9b9b9b;
		}
		.countdown_bold{
			font-family: 'UbuntuBold';
			font-weight: bold;
			font-size: 24px;
			vertical-align: middle;
			padding-left: 5px;
			padding-right: 10px;
		}		
	}
}
@media(max-width:1110px){
	.page_content{
		width:95%;
		padding-right:50px;
	}
}
@media(max-width:1065px){
	.countdown_container{
		height: 188px;
		width:100%;
		.countdown_title{
			display: inline-block;
			float:left;
			padding-left: 5%;
			padding-top: 70px;
			width:55%;
		}
		.countdown_light{
			font-family: 'UbuntuLight';
			font-size: 17px;
			vertical-align: middle;
			padding-left: 5px;
			padding-right: 15px;
			color:#9b9b9b;
		}
		.countdown_bold{
			font-family: 'UbuntuBold';
			font-weight: bold;
			font-size: 22px;
			vertical-align: middle;
			padding-left: 5px;
			padding-right: 10px;
		}		
		.countdown_counter{
			font-size:14px;		
			ul {
				margin-top:-25px;
				margin-left:10px;
				list-style:none;
				padding:0px;
				li {
					display:inline-block;
					text-align:center;
					padding-right:30px;
					span {					  
						font-weight:bold;
						color:$main_highlight;
						font-size: 50px;
						font-weight:100;
					}
				}
			}
		}
	}
}
@media(max-width:982px){
	.home_central_part{
		height:115px;
	}
	.countdown_container{
		height: 188px;
		width:100%;
		.countdown_title{
			display: inline-block;
			float:left;
			padding-left: 2%;
			padding-top: 70px;
			width:55%;
		}
		.countdown_light{
			font-family: 'UbuntuLight';
			font-size: 17px;
			vertical-align: middle;
			padding-left: 2px;
			padding-right: 10px;
			color:#9b9b9b;
		}
		.countdown_bold{
			font-family: 'UbuntuBold';
			font-weight: bold;
			font-size: 22px;
			vertical-align: middle;
			padding-left: 3px;
			padding-right: 7px;
		}
		.countdown_counter{
			font-size:13px;		
			ul{
				margin-top:-25px;
				margin-left:10px;
				list-style:none;
				padding:0px;
				li{
					display:inline-block;
					text-align:center;
					padding-right:30px;
					span{
						font-weight:bold;
						color:$main_highlight;
						font-size: 40px;
						font-weight:100;
					}
				}
			}
		}
	}
}
@media(max-width:995px){
	.booking-calendar{
		width:100%;
		display:inline-block;
		text-align:center;
		padding-left:100px;
	}
	.container{
		margin-left:2% !important;
		width:100%;
		padding-top:18px;
	}
	.tournament_buttons{
		font-size:16px;
		padding-left: 40px;
		text-align:left;
		padding-top: 0px !important;
		.row{
			width:100%;
			ul{
				padding-top:10px;
				li{
					padding-left:10px;	
					display:inline;
					list-style: none;
					a{
						color:#000000;
					}
				}
			}
		}
	}
	.row.reorder-sm{
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		direction: rtl;
	}
	.row.reorder-sm > [class*="col-"]{
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
		direction: ltr;
	}
}
//reorder divs from here on
@media(max-width:904px){
	.container {
		width:98%;
	}	
	.booking-calendar{
		width:100%;
		display:inline-block;
		text-align:center;
		padding-left:100px;
	}
	.booking-form{
		width:100%;
		text-align:left;
	}
	.page_content{
		.divider{
			visibility:hidden;
			height:0px;
		}
		.book_now{
			line-height: 195%;
			padding-bottom: 0px;
			.booknow_title{
				font-family:'UbuntuBold' !important;
				font-size:33px !important;
				color:$main_highlight !important;
				padding-left:20px;
				display:block;
			}	
			.booknow_subtitle{
				font-family:'UbuntuLight' !important;
				font-size:25px !important;
				color:#000000;
				display:block;
				padding-bottom:30px;
				padding-left:20px;
			}	
			.booknow_description{
				line-height: 100%;
				padding-right:0px !important;
				padding-left:20px;
				display:block;			
			}	
			.control-label{
				padding-top:0px !important;
			}
			.booking_form{
				width:100%;
				padding-top:50px;
				margin-bottom:50px;
				disply:block;
				text-align:left !important;
				.countries{
					width: 100%;
					margin: 15p;
					padding: 7px;
					color: lightgray;
					font-size: 14px;
					border-radius:3px;
					border-color:lightgray;
				}
				.booking_data{
					width:100% !important;
					display:inline;				
					.form_size{
						width:100% !important;
						overflow:hidden;
					}
					.booking_dates{
						width:100%;
						display:inline;
					}
				}					
			}
		}
	}
	.close_desktop{
		visibility:hidden;
	}
	.close_mobile{
		visibility:visible;
	}
	.countdown_container{
		height: 288px;
		width:100%;
		text-align:center;
		.countdown_title{
			float:none;
			padding-top: 70px;
			width:100%;
		}
		.countdown_light{
			font-family: 'UbuntuLight';
			font-size: 17px;
			vertical-align: middle;
			padding-left: 2px;
			padding-right: 10px;
			color:#9b9b9b;
		}
		.countdown_bold{
			font-family: 'UbuntuBold';
			font-weight: bold;
			font-size: 22px;
			vertical-align: middle;
			padding-left: 3px;
			padding-right: 7px;
		}
		.countdown_counter{
			font-size:14px;
			float:none !important;		
			ul {
				margin-top:-25px;
				margin-left:10px;
				list-style:none;
				padding:0px;
				li {
					display:inline-block;
					text-align:center;
					padding-right:30px;
					span {
						font-weight:bold;
						color:$main_highlight;
						font-size: 50px;
						font-weight:100;
					}
				}
			}
		}
	}
	.footer_container{
		width: 100%;
		height:430px;
		background-color: #f0f8fc;
		color:#000000;
		border-color: #e3e3e3;
		.footer_box_right{
			text-align:center;
			height: 100%;
			border-bottom: solid;
			background-color: #f0f8fc;
			border-color: #e3e3e3;
			display: block;
			border-width: 1px;
			width: 100%;
			float:none;
			padding-left: 0px;
			padding-top: 50px;
			line-height: 135%;
		}
		.footer_box_left{
			text-align:center;
			height: 50%;
			border-bottom: solid;
			border-color: #e3e3e3;
			display: block;
			border-width: 1px;
			width: 100%;
			float:none;
			padding-left: 5px;
			padding-right:5px;
			padding-top: 50px;
			padding-bottom:100px;
			line-height: 170%;
		}
		.contact_us{
			display:block;			
		}
		.social_icons{			
			display:block;
		}
		.footer_logos{
			text-align:center;
			padding-left:0px !important;
			float:none;
			margin: 0 auto !important;
			img{
				display:inline !important;
			}
		}		
	}
	//Banner
	.banner_container{
		width:100%;
		float: right;
		z-index:100000;
	}
	#close{
		visibility: hidden;
	}
	#closemobile{
		visibility: visible;
	}
	.banner{
		background-color:#9dc1d6;
		background-image:none;
		height:350px;
		position:fixed;
	    bottom:0;
	    left: 0;
	    width: 100%;
	    display:block;
	    background-repeat:no-repeat;
	    background-size: 100% 100%;
		.left_part{
			width:100%;
			height:85px;
			text-align:center;
			padding-top:30px;
			padding-left:0px;
			.booknow{
				font-family: 'UbuntuBold';
				font-size:32px;
				font-weight:800;
				color:#fff;
				padding-bottom:3px;
			}
			.reserve{
				font-family: 'UbuntuLight';
				font-size:20px;
				color:#fff;
				top:90px;				
			}
		}
		.central_part{
			width:100%;
			height:145px;
			padding-top:20px;
			padding-left:31%;
			text-align:center;
			line-height:1;
			.divider{
				padding-left:15px;
			}
			.checkin_container{
				display: flex;
				.checkin{
					width:150px;
					font-family: 'UbuntuMedium';
					font-size:16px;
					font-weight:800;
					color:#006ca2;
					padding-bottom:10px;
					text-align:center;
					.checkin_initial{
						display:block;
						font-family: 'UbuntuLight';
						font-weight:200;
						font-size:66px;
						color:#fff;

					}
					.checkin_initial_date{
						font-family: 'LatoBold';
						font-size:7px !important;
						color:#848484;
						text-align:center;
						padding-left:22px;
					}
				}
				.checkout{
					width:150px;
					font-family: 'UbuntuMedium';
					font-size:16px;
					font-weight:800;
					color:#006ca2;
					padding-bottom:10px;
					text-align:center;
					display:inline;
					margin-left: 0;
					.checkout_initial{
						display:block;
						font-family: 'UbuntuLight';
						font-weight:200;
						font-size:66px;
						color:#fff;
					}
					.checkout_initial_date{
						font-family: 'LatoBold';
						font-size:7px !important;
						color:#848484;
						text-align:center;
						padding-left:22px;
					}
				}
			}
		}
		.right_part{
			background-color:#f5c21b;
			float:right;
			height:120px;
			width:100%;
			display: block;
	    	text-align: center;
	    	float: right;
			padding-top:15px;
			span{
				.close{
				    float: right;
				    display: inline-block;
				    padding: 20px 20px 20px 20px !important;				    
				    padding-right: 20px !important;
				    background-color: #006ca2 !important;
				}
			}
			.banner_right{
				text-align:center;				
			}
			.availability{
				text-align:center;
				font-family: 'UbuntuLight';
				font-size:20px;
				font-weight:600;
				color:#000000;
				padding-left: 30px;
			}
			.availability_button{
				padding-top:10px;
				text-align:center;
				font-family: 'UbuntuMedium';
				font-size:17px;
				display:block;	
				button{
					background-color:#006ca2 !important;
					padding:17px;
				}
			}
		}
	}
}
@media(max-width:800px){
	.home_central_part{
		height:100px;
	}
	.sponsors{
		width:100%;
		.sponsor_group{
			padding-left:20px;
			.sponsor_logo{
				padding-right:5px !important;
				display:inline;				
			}		
		}
	}
	.banner{
		.central_part{
			padding-left:29%;
		}
	}
	.news_header{
		font-size:12px;
		overflow:hidden;
		padding-left:0px;
		.news_title{
			padding-left:0px;
			font-size:12px;
		}
		.news{
			font-size:12px;
		}
	}
}
@media(max-width:767px){
	.booking-calendar{
		display:inline-block;
		text-align:left;
		padding-left:10px;
	}
	.banner{
		.central_part{
			padding-left:27%;
		}
	}
}
@media(max-width:660px){
	.banner{
		.central_part{
			padding-left:24%;
		}
	}
	.page_title{
	    height: 60px;
	    padding-top: 5px;
	}
	.the_package{
		line-height: 195%;
		padding-bottom: 100px;
		.the_package_title{			
			padding-left:10px;
			padding-bottom:10px;
		}	
		.the_package_subtitle{			
			font-size:20px;
			color:#000000;;
			padding-left:10px;
			display:block;
			padding-bottom:30px;
		}	
		.the_package_price{			
			padding-left:10px;
		}	
		.the_package_description{
			font-family:'UbuntuLight';
			font-size:18px;
			padding-right:0px;
			padding-left:10px;		
		}	
		.package_items{
			display:inline;			
			.package_item{
				padding-bottom:50px;
				list-style: none;
				ul{
					list-style: none;
				}			
				.package_icon{
					padding-left:10px;
					padding-right:20px;
					vertical-align:top;							
				}
				.package_item_description{
					font-family:'UbuntuLight';
					font-weight:bold;
					font-size:16px;
					display: inline;					
				}
			}
		}
	}
	.page_content{
		width:100%;
		padding-left:20px;
		padding-right:10px;
	}
	.sponsors{
		width:100%;
		.sponsor_group{
			text-align:center;
			padding-left:20px;
			.sponsor_category{
				padding-bottom:50px;
			}			
			.sponsor_logo{
				padding-bottom:30px;
				padding-right:0px;
				display:block;				
			}		
		}
	}
	.news_header{
		padding-top:0px !important;
		display: block;
		padding-left:0px;
		height:25px;
		.news{
			visibility: hidden;
			overflow: hidden;
		}
		.news_title{
			overflow:hidden;
			padding-left:0px;
			font-size:12px;
		}
	}	
}
@media(max-width:630px){
	.home_central_part{
		height:140px;
	}	
	.box1 {
		visibility: hidden !important;
	}
	.box2 {
		visibility: hidden !important;
	}
	.box3 {
		visibility: hidden !important;
	}
	.news_header{
		padding-top:0px !important;
		display: block;
		padding-left:0px;
		height:25px;
		.news{
			visibility: hidden;
			overflow: hidden;
		}
		.news_title{
			overflow:hidden;
			padding-left:0px;
			font-size:12px;
		}
	}
}
@media(max-width:525px) {
	.banner{
		.central_part{
			padding-left:18%;
		}
	}
	.page_title{
		padding-top:5px;
		font-size:25px;
	}
	.about_title{
		font-size:25px !important;
		padding-left:10px;
		font-weight:bold;
	}	
	.about_description{
		padding-right:10px !important;
		padding-left:10px;
	}	
	.contact{
		padding-left:25px;
		font-size:18px;
		.contact_data{
			font-size:14;
		}
	}
}
@media(max-width:470px) {
	.banner{
		.central_part{
			padding-left:12%;
		}
	}
	.page_title{
		padding-top:10px;		
	}	
	.contact{
		padding-left:0px;
		font-size:18px;
		.contact_data{
			font-size:14px;
		}
	}
	.home_central_part{
		display:inline-block;
		background-color:#ffffff;
		overflow:hidden;
		padding-left:0px;
		.home_checkin_container{
			display: inline !important;
			padding-left:30px !important;
			padding-top:15px !important;
			padding-bottom:15px !important;
			vertical-align:middle !important;
			.input-group.date .input-group-addon{
			    background-color: transparent !important;
			    border: none !important;
			    color: #469ac6 !important;
			    padding: 2px !important;
			    border-radius: 15px !important;
			}
			.form-control:first-child{
				border-radius: 5px;
				height:20px;
			}
			.home_checkin{
				width:100px;
				font-family: 'UbuntuMedium';
				font-size:16px;
				font-weight:800;
				color:#000000;
				padding-bottom:20px !important;
				text-align:center;
				display:inline-block;				
				.input-group-addon{
				    padding-left: 2px;
				    padding-top:1px;
				    font-size: 14.5px;				    
				    font-weight: 400;
				    line-height: 1;
				    color: #469ac6;
				    text-align: center;
				    background-color: transparent;
				    border: 0; 
				    border-radius: 4px;
				}
				.form-control:first-child{
					border-radius: 5px;
					height:20px;
				}
				.home_checkin_initial{
					padding-top:20px;
					display:block;
					font-family: 'UbuntuLight' !important;
					font-weight:200;
					font-size:66px;
					color:$main_highlight;
					padding-bottom:20px;
				}
				.home_checkin_initial_date{
					font-family: 'LatoBold';
					font-size:7px !important;
					color:#848484;
					text-align:center;
					padding-left:22px;
				}
			}
			.home_checkout{
				width:130px;
				font-family: 'UbuntuMedium';
				font-size:16px;
				font-weight:800;
				color:#000000;
				padding-bottom:10px;
				text-align:center;
				display:inline-block;
				margin-left: 0;
				padding-right:30px;
				.input-group.date .input-group-addon{
				    background-color: transparent !important;
				    border: none !important;
				    color: #469ac6 !important;
				    padding: 2px !important;
				    border-radius: 15px !important;
				}
				.form-control:first-child{
					border-radius: 5px;
					height:20px;
				}
				.home_checkout_initial{
					padding-top:20px;
					display:block;
					font-family: 'UbuntuLight';
					font-weight:200;
					font-size:66px;
					color:$main_highlight;
					padding-bottom:20px;
				}
				.home_checkout_initial_date{
					font-family: 'LatoBold';
					font-size:7px !important;
					color:#848484;
					text-align:center;
					padding-left:22px;
				}
			}
		}
		.home_availability_button{
			padding-top:10px;
			text-align:center;
			font-family: 'UbuntuMedium';
			font-size:17px;
			display:block;	
			padding-bottom: 30px;
			button{
				background-color:#006ca2 !important;
				padding:17px;
			}
		}
		.home_right_part{
			background-color:$main_highlight !important;
			float:right;
			height:100%;
			width:100;
			display: inline;
	    	float: right;
			padding-top:30px;
			display:inline;
			.home_banner_right{
				text-align:center;
			}
			.home_availability{
				text-align:center;
				font-family: 'UbuntuLight';
				font-size:20px;
				font-weight:600;
				color:#000000;
				padding-left: 30px;
				padding-right:30px;
			}
		}
	}	
	.countdown_container{
		.countdown_light{
			font-family: 'UbuntuLight';
			font-size: 12px;
			vertical-align: middle;
			padding-left: 2px;
			padding-right: 10px;
			color:#9b9b9b;
		}
		.countdown_bold{
			font-family: 'UbuntuBold';
			font-weight: bold;
			font-size: 16px;
			vertical-align: middle;
			padding-left: 3px;
			padding-right: 2px;
		}
	}
	.page_content{
		width:95%;
		padding-left:20px;
		padding-right:10px;
	}
	.about_title{
		font-size:22px !important;
		padding-left:10px;
		font-weight:bold;
	}	
	.about_description{		
		padding-right:10px !important;
		padding-left:10px;
	}	
	#video-gallery{
		a{
			img{
				width:140px;
			}
		}
	}
}
@media(max-width:400px){
	.the_package{
		.the_package_price{
			font-size:80px;
		}	
	}
	.banner{
		.central_part{
			padding-left:5%;
		}
	}
	.contact{		
		font-size:18px;
		.contact_data{
			font-size:13px;
		}
	}
	.about_title{
		font-size:20px !important;
		padding-left:10px;
		font-weight:bold;
	}	
	.about_description{		
		padding-right:10px !important;
		padding-left:10px;
	}	
	.page_title{
		padding-top:15px;
		font-size:19px;
	}
	.countdown_container{
		.countdown_counter{
			font-size:14px;
			float:none !important;			
			ul{
				margin-top:-25px;
				margin-left:10px;
				list-style:none;
				padding:0px;
				li{
					display:inline-block;
					text-align:center;
					padding-right:20px;
					span{
						font-weight:bold;
						color:$main_highlight;
						font-size: 30px;
						font-weight:400;
					}
				}
			}
		}
	}
	.footer_container{
		.footer_bold{
			font-size: 12px;
		}
	}
	.container{
		margin-left:0% !important;
	}
}
@media(max-width:360px){
	body{
		width:100%;		
	}
	.banner{
		.central_part{
			padding-left:1%;
		}
	}
	.about_title{
		font-size:18px !important;
		padding-left:5px;
		font-weight:bold;
	}	
	.about_description{		
		padding-right:10px !important;
		padding-left:10px;
	}	
	.home_central_part{
		display:inline-block;
		background-color:#ffffff;
		overflow:hidden;
		padding-left:0px;
		.home_checkin_container{
			display: inline !important;
			padding-left:30px !important;
			padding-top:15px !important;
			padding-bottom:15px !important;
			vertical-align:middle !important;
			.input-group.date .input-group-addon{
			    background-color: transparent !important;
			    border: none !important;
			    color: #469ac6 !important;
			    padding: 2px !important;
			    border-radius: 15px !important;
			}
			.form-control:first-child{
				border-radius: 5px;
				height:20px;
			}
			.home_checkin{
				width:90px;
				font-family: 'UbuntuMedium';
				font-size:16px;
				font-weight:800;
				color:#000000;
				padding-bottom:10px;
				text-align:center;
				display:inline-block;				
				.input-group-addon{
				    padding-left: 2px;
				    padding-top:1px;
				    font-size: 14.5px;				    
				    font-weight: 400;
				    line-height: 1;
				    color: #469ac6;
				    text-align: center;
				    background-color: transparent;
				    border: 0; 
				    border-radius: 4px;
				}
				.form-control:first-child{
					border-radius: 5px;
					height:20px;
				}
				.home_checkin_initial{
					padding-top:20px;
					display:block;
					font-family: 'UbuntuLight' !important;
					font-weight:200;
					font-size:66px;
					color:$main_highlight;
					padding-bottom:20px;
				}
				.home_checkin_initial_date{
					font-family: 'LatoBold';
					font-size:7px !important;
					color:#848484;
					text-align:center;
					padding-left:22px;
				}
			}
			.home_checkout{
				width:120px;
				font-family: 'UbuntuMedium';
				font-size:16px;
				font-weight:800;
				color:#000000;
				padding-bottom:10px;
				text-align:center;
				display:inline-block;
				margin-left: 0;
				padding-right:10px;
				.input-group.date .input-group-addon{
				    background-color: transparent !important;
				    border: none !important;
				    color: #469ac6 !important;
				    padding: 2px !important;
				    border-radius: 15px !important;
				}
				.form-control:first-child{
					border-radius: 5px;
					height:20px;
				}
				.home_checkout_initial{
					padding-top:20px;
					display:block;
					font-family: 'UbuntuLight';
					font-weight:200;
					font-size:66px;
					color:$main_highlight;
					padding-bottom:20px;
				}
				.home_checkout_initial_date{
					font-family: 'LatoBold';
					font-size:7px !important;
					color:#848484;
					text-align:center;
					padding-left:22px;
				}
			}
		}
		.home_availability_button{
			padding-top:10px;
			text-align:center;
			font-family: 'UbuntuMedium';
			font-size:17px;
			display:block;	
			padding-bottom: 30px;
			button{
				background-color:#006ca2 !important;
				padding:17px;
			}
		}
		.home_right_part{
			background-color:$main_highlight !important;
			float:right;
			height:100%;
			width:100px;
			display: inline;
	    	padding-top:30px;
			display:inline;
			text-align:left;
			.home_banner_right{
				text-align:left;
			}
			.home_availability{
				text-align:left;
				font-family: 'UbuntuLight';
				font-size:16px;
				font-weight:600;
				color:#000000;
				padding-left: 30px;
				padding-right:00px;
			}		
		}
	}	
	.countdown_container{
		.countdown_light{
			font-family: 'UbuntuLight';
			font-size: 10px;
			vertical-align: middle;
			padding-left: 2px;
			padding-right: 7px;
			color:#9b9b9b;
		}
		.countdown_bold{
			font-family: 'UbuntuBold';
			font-weight: bold;
			font-size: 12px;
			vertical-align: middle;
			padding-left: 3px;
			padding-right: 2px;
		}
	}
	.news_header{
		padding-top:0px !important;
		padding-left:0px;
		.news{
			overflow: hidden;
		}
		.news_title{
			overflow:hidden;
		}
	}	
}